.baseLayoutContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.leftSide,
.rightSide {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.header_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 76px;
}

.header_1 > h1 {
  font-family: 'Rowdies', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  width: 716px;
  color: #fe3b1f;
}

.formContainer {
  margin-top: 110px;
}

.btnContainer {
  margin-top: 90px;
  height: 18px;
}

.rightSide {
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.rightSideHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 76px;
}

.rightSideHeader > h1 {
  width: 788px;
  font-family: 'Rowdies', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #fe3b1f;
}

.rightSide > p {
  position: absolute;
  width: 705px;
  height: 606px;
  left: 1119px;
  top: 195px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.btnPrev,
.btnNext {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 554px;
  border: 3px solid #fe3b1f;
  border-radius: 50%;
  cursor: pointer;
}

.btnPrev {
  left: 359px;
}
