.baseLayoutContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.leftSide,
.rightSide {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
}

.header_1 {
  position: absolute;
  width: 716px;
  height: 128px;
  left: 105px;
  top: 131px;
  font-family: 'Rowdies', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fe3b1f;
}

.rightSide {
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.rightSideHeader {
  position: absolute;
  width: 716px;
  height: 94px;
  left: 1116px;
  top: 112px;
  font-family: 'Rowdies', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  color: #fe3b1f;
}

.rightSide > p {
  position: absolute;
  width: 705px;
  height: 606px;
  left: 1119px;
  top: 195px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}
