.baseLayoutContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.leftSide,
.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 76px;
}

.header_1 > h1 {
  font-family: 'Rowdies', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  width: 716px;
  color: #fe3b1f;
}

.formContainer {
  margin-top: 110px;
  margin-left: 235px;
}

.btnContainer {
  align-self: center;
  margin-top: 90px;
  height: 18px;
}

.rightSide {
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  justify-content: center;
}

.rightSideContentContainer {
  padding-left: 130px;
}

.rightSideHeader {
  width: 100%;
  margin-top: 15px;
}

.rightSideHeader > h1 {
  /* text-align: center; */
  width: 788px;
  font-family: 'Rowdies', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #fe3b1f;
}

.rightSide > .rightSideContentContainer > p {
  /* padding-left: 138px; */
  padding-top: 110px;
  width: 705px;
  height: 606px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* .btnPrev,
.btnNext {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 554px;
  border: 3px solid #fe3b1f;
  border-radius: 50%;
  cursor: pointer;
}

.btnPrev {
  left: 359px;
} */

.paginationBtnPrev {
  margin-right: 18px;
  cursor: pointer;
}

.paginationBtnNext {
  margin-left: 3px;
  cursor: pointer;
}

.paginationBtn {
  margin-right: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
