.inputContainer {
  margin-bottom: 37px;
}

.input {
  width: 455px;
  height: 54px;
  margin-left: 235px;
  background: #ffffff;
  border: 1px solid #525557;
  box-sizing: border-box;
  padding-left: 57px;
  margin-bottom: 5px;
}

.inputTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px !important; 
    color: #1f1e27 !important;
}

.input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
  position: absolute;
  left: 57px;
  top: 17px;
}

.input:invalid, .invalid {
  border: 1px solid #fe3b1f;
}

.errorText {
  width: 209px;
  height: 16px;
  margin-left: 290px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #fe3b1f;
}
