.questionnaireContainer {
  display: flex;
  flex-direction: column;
}

.workEnvironment,
.covidContact,
.contactDate,
.vaccine,
.vaccineDate {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.covidContact,
.contactDate,
.vaccine,
.vaccineDate {
  margin-top: 51px;
}

.workEnvironment > p,
.covidContact > p,
.contactDate > p,
.vaccine > p,
.vaccineDate > p {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.workEnvironment > div > label,
.covidContact > div > label,
.contactDate > div > label,
.vaccine > div > label,
.vaccineDate > div > label {
  font-size: 14px;
  margin-left: 7px;
}

.workEnvironment > div,
.covidContact > div,
.contactDate > div,
.vaccine > div,
.vaccineDate > div {
  margin-bottom: 17px;
}

.contactDate,
.vaccineDate {
  position: relative;
}


.contactDate > input,
.vaccineDate > input {
  width: 455px;
  height: 54px;
  border: solid 1px #525557;
  padding-left: 57px;
}

.contactDate > input::placeholder,
.vaccineDate > input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #454545;
}

.datePickerInput {
  width: 455px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #525557;
  box-sizing: border-box;
  padding-left: 57px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
}

.calendarLogo_1, .calendarLogo_2 {
  width: 16px;
  height: 18px;
  position: absolute;
  top: 55px;
  left: 400px;
  cursor: pointer;
}

.radioInputBtn {
  cursor: pointer;
}



/* input[type='date']::-webkit-inner-spin-button,
 input[type='date']::-webkit-calendar-picker-indicator
  {
  display: none;
  -webkit-appearance: none;
} */
