.devTalk .talkAbout,
.smthSpecial {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.devTalk > div {
  margin-top: 17px;
}

.devTalk > p,
.talkAbout > p,
.smthSpecial > p {
  font-size: 18px;
}

.devTalk > div > label {
  margin-left: 10px;
  cursor: pointer;
}

.talkAbout {
  margin-top: 45px;
}

.talkAbout > div > textarea,
.smthSpecial > div > textarea {
  width: 535px;
  height: 122px;
  padding-left: 23px;
  padding-top: 24px;
  margin-top: 11px;
}

.smthSpecial > div > textarea {
  height: 89px;
}

.talkAbout > div > textarea::placeholder,
.smthSpecial > div > textarea::placeholder {
  color: #3a3a3a;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.smthSpecial {
  margin-top: 33px;
}

.inpurRadioBtn {
  cursor: pointer;
  font-size: 14px;
}

.errorText {
  width: 209px;
  height: 16px;
  margin-left: 6px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 13px !important;
  color: #fe3b1f !important;
}