.form {
  margin-top: 35%;
}

.btnPrev,
.btnNext {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 554px;
  top: 83%;
  border: 3px solid #fe3b1f;
  border-radius: 50%;
  cursor: pointer;
}

.btnPrev {
  left: 359px;
}