@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat&family=Rowdies&display=swap');

body, html {
  margin: 0;
  font-family: 'Rowdies', cursive;
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: 100vw;
  height: 1080px;
}