.submittedApplicationContainer {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 155px;
}
.accordion {
  width: 1154px;
  margin-bottom: 11px;
}
.accordionSummary {
  background-color: #fe3b1f !important;
  color: #ffffff !important;
}

.topRow,
.downRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 36px;
}

.covidPage,
.insight {
  width: 447px;
}

.personalInfo,
.skillset {
  width: 447px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.personalInfo > h4,
.skillset > h4,
.covidPage > h4,
.insight > h4 {
  font-size: 18px;
  color: #fe3b1f;
  text-decoration: underline;
  margin-bottom: 44px;
  font-weight: 400;
  font-style: italic;
}

.personalInfo > div,
.skillset > div {
  font-size: 12px;
  color: #000000;
  margin-bottom: 14px;
  width: 300px;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
}

.personalInfo > div > div:nth-child(1),
.skillset > div > div:nth-child(1) {
  margin-right: 26.83px;
  width: 102px;
  height: 42px;
  font-weight: 400;
}

.personalInfo > div > div:nth-child(2),
.skillset > div > div:nth-child(2) {
  height: 24px;
  width: 139.71px;
}

.covidDetails > div,
.covidContact > div,
.contactDate,
.vaccine,
.vaccineDate {
  color: #000000;
  display: flex;
  flex-flow: column wrap;
}
.contactDate,
.vaccineDate {
  position: relative;
}
.downRow > div {
  margin-bottom: 14px;
}

.covidDetails > div > p,
.covidDetails > div > div,
.covidContact > div > p,
.covidContact > div > div,
.contactDate > p,
.vaccine > p,
.vaccine > div,
.vaccineDate > p,
.insight > div > p,
.insight > div > div {
  margin-bottom: 14px;
}
.covidPage > div {
  margin-bottom: 51px;
}

.covidDetails > div > p,
.covidContact > div > p,
.contactDate > p,
.vaccine > p,
.vaccineDate > p,
.insight > div > p {
  font-size: 18px;
  font-weight: 400;
}

.talkAbout {
  margin-top: 64px;
}

.datePickerInput {
  width: 349px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #525557;
  box-sizing: border-box;
  padding-left: 57px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.calendarLogo_1,
.calendarLogo_2 {
  width: 16px;
  height: 18px;
  position: absolute;
  bottom: 16px;
  left: 308px;
}

.covidDetails > div > div > input,
.covidContact > div > div > input,
.vaccine > div > input,
.devTalk > div > input {
  margin-right: 5px;
}

.talkAbout > div > textarea,
.smthSpecial > div > textarea {
  width: 447px;
  height: 122px;
  resize: none;
}

.smthSpecial > div > textarea {
  height: 89px;
}

.submittedContainer {
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.headerText > h2 {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0.11em;
  color: #ffffff;
}

.headerText {
  width: 1128px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 55px;
}

input[type='radio'] {
  opacity: 0;
  pointer-events: none;
}

input[type='radio']:checked + .radioCheckMark {
  background: url('../../assets/images/radio-btn-active.png');
}

.radioCheckMark {
  background: url('../../assets/images/radio-btn-passive.png');
  display: inline;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  background-size: contain !important;
}

.inputContainer {
  position: relative;
}
